@import "./font/font";
@import "./settings/settings";
@import "./block/registration-page";
@import "./block/login-page";


.container {
    width: 75%;
    display: block;
    margin: 0 auto;
}

